body{
    height: auto;
    width: auto;
}

#Brand-Logo{
    height: 100px;
}

#profileHeader-div {
    background-color: white;
    height: 250px;
}

div{
    color: aliceblue;
}

a:hover {
    color: orange;
    font-weight: bold;
}

li>a{
    margin-left: 8px;
}
