body{
    height: auto;
    width: auto;
}

#Brand-Logo{
    height: 100px;
}

#profileHeader-div {
    background-color: white;
    height: 250px;
}

div{
    color: aliceblue;
}

a:hover {
    color: orange;
    font-weight: bold;
}

li>a{
    margin-left: 8px;
}

#search-div {
    /* Other styles... */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  #search-div:not(.hidden) {
    opacity: 1;
    visibility: visible;
  }

  
#topNavBar{
    /* Other styles... */
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }